/* first letter font */
  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,200;1,500;1,600&family=Reem+Kufi+Fun:wght@400;500;600&family=Satisfy&display=swap');

/* ******************************* */
/* Css rules for specify families */

/* font-family: 'Kanit', sans-serif;
font-family: 'Reem Kufi Fun', sans-serif;
font-family: 'Satisfy', cursive; */

/* ******************************* */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,200;1,500;1,600&family=Reem+Kufi+Fun:wght@400;500;600&display=swap');
/* font family => Kanti*/

/* font-family: 'Kanit', sans-serif;
font-family: 'Reem Kufi Fun', sans-serif; */
:root{
    /* General Colors */
    --pink:#ff0060;
    --red:#9e0c13;
    --gray:#cdcdd3;
}
body{
    font-family: 'Kanit', sans-serif;
    margin:0;
    height: 100vh;
    background:var(--gray);
}

.container{
    display: grid;
    text-align:center;
    justify-items: center;
    font-family: 'Reem Kufi Fun', sans-serif;
}

header h2{
    color:var(--red);
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size:2rem;
}
span,
header h2:first-letter{
   font-family: 'Satisfy', cursive;
   font-size:2rem;
}

.container .bnts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
}

.no{
    width: 150px;
    height: 70px;
    background:linear-gradient(to left top,#742222 50% , #961010 50%);
    border-style: none;
    color: #fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline:none;
    cursor: pointer;
    position: relative;
    padding:0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0 , 0 , 0 ,.2);
  }
  .no span{
    position: absolute;
    display: block;
  }
  /*  TOMORROW I'LL COMPLETE THIS BULL SHIT HAHAHAH*/
  
  
  .no span:nth-child(1){
    height:3px;
    width: 200px;
    top: 0px;
    left: -200px;
    background-color: linear-gradient(
      to right , rgba(0,0,0,0),#f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation:span1 2s linear infinite;
    animation-delay: 1s;
  }
  
  @keyframes span1{
      0%{
        left: -200px;
      }
      100%{
        left: 200px;
      }
  }
  
  .no span:nth-child(2){
    height: 70px;
    width: 3px;
    top: -70px;
    right: 0px;
    background-color: linear-gradient(to bottom,
      rgba(0,0,0,0),#f6e58d);
    border-bottom-left-radius:1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
  }
  
  @keyframes span2 {
      0%{
        top: -70px;
      }
      100%{
        top: 70px;
      }
  }
  
  .no span:nth-child(3){
    height: 3px;
    width: 200px;
    right:  -200px;
    bottom: 0px;
    background-color: linear-gradient(to left,
      rgba(0,0,0,0),#f6e58d);
    border-top-left-radius:1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
  }
  
  
  @keyframes span3 {
      0%{
        right:-200px;
      }
      100%{
        right:200px;
      }
  }
  
  
  .no span:nth-child(4){
    height: 70px;
    width: 3px;
    left: 0px;
    bottom: -70px;
    background-color: linear-gradient(to top,
      rgba(0,0,0,0),#f6e58d);
    border-top-left-radius:1px;
    border-top-right-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
  }
  
  
  @keyframes span4 {
      0%{
        bottom:-70px;
      }
      100%{
        bottom:70px;
      }
  }
  
  .no:hover{
    transition: all .5s;
    transform: rotate(-3deg)scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
  }
  
.yes {
  align-items: center;
  background-color: var(--pink);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.yes:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.yes:hover:after {
  transform: translate(0, 0);
}

.yes:active {
  background-color: #ffdeda;
  outline: 0;
}

.yes:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .yes {
    padding: 0 40px;
  }
}

/* Pop up  */

/* ************************************* */
                /* heart pop up */
/* ************************************* */



.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-26%);
    z-index: 9999;
    background: #0b1522;
    width:28rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility:hidden;
  
  }
  .pop-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
  }
  .pop-content .icon{
    text-align: center;
    font-size: 2rem;
    color: #b33771;
    border: 0.9rem solid #c32c71;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    margin:0 auto; 
    border-radius:50px;
    margin-top: 2rem;
  }
  
  .pop-content .content{
    color: #25b125;
    font-size:1.7rem;text-align: center;padding:1rem 0;
    font-family: sans-serif;
  }
  
  .pop-content small{
    color: #999;
    font-family: sans-serif;
  }
  
  .show{
    animation: show 1s forwards;
  }
  
  
  @keyframes show{
    100%{
    opacity: 1;
    visibility:visible;
  
    }
  }
  
  
  @media (max-width:451px){
    .popup{
      width: 90%;
    }
  }
  
  .remove{
    display: none;
  }


.popup .heart{
    height:100px;
    width:100px;
    background-color:#900515;
    position:relative;
    box-shadow:10px 10px 90px #f20044;
    animation:animate .6s linear infinite;
    display: flex;
    align-items:center;
}

.pop-content small{
    bottom:0;
    position:absolute;
    color:white;
    font-size:2rem; 
    text-align:center;
}

@keyframes animate {
    0%{
        transform:rotate(-45deg) scale(1.07)
    }
    80%{
        transform: rotate(-45deg) scale(1)
    }
    100%{
        transform: rotate(-45deg) scale(.8);
    }
}

.popup .heart::before{
    content:"";
    position:absolute;
    background:#b00a1d;
    height:100px;
    width: 100px;
    box-shadow:10px 10px 90px #f20044;
    top:-50%;
    border-radius:50%;
}

.popup .heart::after{
    content:"";
    position:absolute;
    background:#bc1528;
    height:100px;
    width: 100px;
    box-shadow:10px 10px 90px #f20044;
    right:-50%;
    border-radius:50%;    
}


@media (max-width:413px){
    .gft_love img{
        width:80%;
    }

    .popup{
        
        transform:translate(-50%,-78%);
    }
}

